* {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
}

.logo {
  width: 130px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 16px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 200px;
  /* height: 300px; */
  box-shadow: 0px 0px 3px #f0f0f0;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

.filter-btn {
  padding: 5px;
  border: 1px solid #f0f0f0;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.res-logo {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  height: 190px;
  width: 190px;
  background-color: #1d1919a1;
}

.login {
  cursor: pointer;
  padding: 0 20px;
  margin-right: 10px;
  border: 1px solid #f0f0f0;
}

.filter {
  display: flex;
}

.search {
  margin: 5px;
}

.search-box {
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 5px;
}

.search > button {
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
